.container {
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(230, 230, 230, 1.0);
}

.header {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(230, 230, 230, 1.0);
  overflow: hidden;
  box-sizing: border-box;
}

.content {
  height: 140px;
  overflow-y: auto;
  box-sizing: border-box;
}

.chat {
  padding: 5px;
  box-sizing: border-box;
}

.chatFrom {
  font-weight: bold;
}

.input {
  height: 30px;
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-top: 1px solid rgba(230, 230, 230, 1.0);
  overflow: hidden;
  box-sizing: border-box;
}

.inputPrefix {
  font-weight: bold;
}